This exercise will require you to pull some data from the Qunadl API. Qaundl is currently the most widely used aggregator of financial market data.

As a first step, you will need to register a free account on the http://www.quandl.com website.

After you register, you will be provided with a unique API key, that you should store:

In [40]:
# Store the API key as a string - according to PEP8, constants are always named in all upper case
API_KEY = 'urSXjRiR-isRzPTXv-4k'

Qaundl has a large number of data sources, but, unfortunately, most of them require a Premium subscription. Still, there are also a good number of free datasets.

For this mini project, we will focus on equities data from the Frankfurt Stock Exhange (FSE), which is available for free. We'll try and analyze the stock prices of a company called Carl Zeiss Meditec, which manufactures tools for eye examinations, as well as medical lasers for laser eye surgery: https://www.zeiss.com/meditec/int/home.html. The company is listed under the stock ticker AFX_X.

You can find the detailed Quandl API instructions here: https://docs.quandl.com/docs/time-series

While there is a dedicated Python package for connecting to the Quandl API, we would prefer that you use the *requests* package, which can be easily downloaded using *pip* or *conda*. You can find the documentation for the package here: http://docs.python-requests.org/en/master/

Finally, apart from the *requests* package, you are encouraged to not use any third party Python packages, such as *pandas*, and instead focus on what's available in the Python Standard Library (the *collections* module might come in handy: https://pymotw.com/3/collections/ ).
Also, since you won't have access to DataFrames, you are encouraged to us Python's native data structures - preferably dictionaries, though some questions can also be answered using lists.
You can read more on these data structures here: https://docs.python.org/3/tutorial/datastructures.html

Keep in mind that the JSON responses you will be getting from the API map almost one-to-one to Python's dictionaries. Unfortunately, they can be very nested, so make sure you read up on indexing dictionaries in the documentation provided above.

In [41]:
# First, import the relevant modules
import json
import requests

In [42]:
# Now, call the Quandl API and pull out a small sample of the data (only one day) to get a glimpse
# into the JSON structure that will be returned
url= "https://www.quandl.com/api/v3/datasets/FSE/AFX_X/data.json?api_key="+API_KEY
r= requests.get(url)

# Checking the response status code. The result should be 200 if the data is imported properly.
r.status_code

403

In [43]:
# Inspect the JSON structure of the object you created, and take note of how nested it is,
# as well as the overall structure
json_data = r.json()

In [44]:
Inspect = json_data.keys()
print(Inspect)

dict_keys(['quandl_error'])

These are your tasks for this mini project:

1. Collect data from the Franfurt Stock Exchange, for the ticker AFX_X, for the whole year 2017 (keep in mind that the date format is YYYY-MM-DD).
2. Convert the returned JSON object into a Python dictionary.
3. Calculate what the highest and lowest opening prices were for the stock in this period.
4. What was the largest change in any one day (based on High and Low price)?
5. What was the largest change between any two days (based on Closing Price)?
6. What was the average daily trading volume during this year?
7. (Optional) What was the median trading volume during this year. (Note: you may need to implement your own function for calculating the median.)

### 1. Collect data from the Franfurt Stock Exchange, for the ticker AFX_X, for the whole year 2017 (keep in mind that the date format is YYYY-MM-DD).

In [45]:
url= "https://www.quandl.com/api/v3/datasets/FSE/AFX_X/data.json?+&start_date=2017-01-01&end_date=2017-12-31&"+API_KEY
r_= requests.get(url)
# Checking the response status code. The result should be 200 if the data is imported properly.
r_.status_code

200

### 2. Convert the returned JSON object into a Python dictionary.

In [46]:
json_data2017 = r_.json()
type(json_data2017)

dict

### 3. Calculate what the highest and lowest opening prices were for the stock in this period

In [47]:
json_data2017.keys()

dict_keys(['dataset_data'])

In [48]:
json_data2017['dataset_data'].keys()

dict_keys(['limit', 'transform', 'column_index', 'column_names', 'start_date', 'end_date', 'frequency', 'data', 'collapse', 'order'])

In [49]:
json_data2017['dataset_data']['column_names']

['Date',
 'Open',
 'High',
 'Low',
 'Close',
 'Change',
 'Traded Volume',
 'Turnover',
 'Last Price of the Day',
 'Daily Traded Units',
 'Daily Turnover']

In [50]:
data_2017 = json_data2017['dataset_data']['data']
data_2017[0:2]

[['2017-12-29',
  51.76,
  51.94,
  51.45,
  51.76,
  None,
  34640.0,
  1792304.0,
  None,
  None,
  None],
 ['2017-12-28',
  51.65,
  51.82,
  51.43,
  51.6,
  None,
  40660.0,
  2099024.0,
  None,
  None,
  None]]

In [51]:
#Opening Price is located in 1st Index place holder
#High Price is 2nd Index and Low Price 3rd Index place holder

import numpy as np
list_open = []

for i in data_2017:
    list_open.append(i[1])
       
np_highest = np.array(list_open)

In [52]:
np_highest = [x for x in np_highest if x != None]

In [54]:
max(np_highest)

53.11

In [55]:
print(f' max opening value: {max(data_2017, key=lambda x:x[1] or 0)[1]}')

 max opening value: 53.11

In [56]:
np_lowest = np.array(list_low)
min(np_lowest)

33.62

### 4. What was the largest change in any one day (based on High and Low price)?

In [57]:
#High Price is 2nd Index and Low Price 3rd Index place holder

import numpy as np
list_low = []
list_high = []

for i in data_2017:
    list_high.append(i[2])
    list_low.append(i[3])
    
np_low_price = np.array(list_low)
np_high_price = np.array(list_high)

In [58]:
max(np_high_price-np_low_price)

2.8100000000000023

### 5. What was the largest change between any two days (based on Closing Price)?

In [59]:
#Closing Price is 4th Index Place holder

import numpy as np
list_Open = []
list_Close = []


for i in data_2017:
    list_Open.append(i[4])

np_close_price = np.array(list_high)

In [60]:
print(f'Largest change between any two days: {max(np_close_price)- min(np_close_price)}')

Largest change between any two days: 19.42

### 6. What was the average daily trading volume during this year?

In [61]:
#trade volume is 6th Index Place holder

import numpy as np
trade_Vol = []

for i in data_2017:
    trade_Vol.append(i[6])

np_trade_Vol = np.array(trade_Vol)

In [62]:
print(f'The average daily trading volume during this year: {sum(np_trade_Vol)/len(np_trade_Vol)}')

The average daily trading volume during this year: 89124.33725490196

### (Optional) What was the median trading volume during this year. (Note: you may need to implement your own function for calculating the median.)

In [63]:
np_precentile = np.array(trade_Vol)

print(np.percentile(trade_Vol,50)) # gives the median percentile

76286.0

In [64]:
#Calculate what the highest and lowest opening prices were for the stock in this period
import pandas as pd
data_2017=pd.DataFrame(data_2017)
data_2017.columns=json_data2017['dataset_data']['column_names']
data_2017.head()

,Date,Open,High,Low,Close,Change,Traded Volume,Turnover,Last Price of the Day,Daily Traded Units,Daily Turnover
0,2017-12-29,51.76,51.94,51.45,51.76,NaN,34640.0,1792304.0,None,None,None
1,2017-12-28,51.65,51.82,51.43,51.60,NaN,40660.0,2099024.0,None,None,None
2,2017-12-27,51.45,51.89,50.76,51.82,NaN,57452.0,2957018.0,None,None,None
3,2017-12-22,51.05,51.50,50.92,51.32,NaN,71165.0,3641949.0,None,None,None
4,2017-12-21,51.16,51.52,50.90,51.40,NaN,120649.0,6179433.0,None,None,None

In [65]:
data_2017['Open'].max()

53.11

In [66]:
data_2017['Open'].min()

34.0

In [67]:
data_2017['D_change']=data_2017['High']-data_2017['Low']
data_2017['D_change'].max()

2.8100000000000023

In [68]:
data_2017['Close'].max()-data_2017['Close'].min()

19.03

In [69]:
data_2017['Traded Volume'].mean()

89124.33725490196

In [70]:
data_2017['Traded Volume'].median()

76286.0